@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000
  --foreground: #000;
  --font-neuehaasmedium-sans: 'Neue Haas Sans', sans-serif;
  --font-neuehaas-mono: 'Neue Haas Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --font-neuehaasmedium-sans: 'Neue Haas Sans', sans-serif;
    --font-neuehaas-mono: 'Neue Haas Mono', monospace;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
}

body.scroll-lock {
  position: fixed;
  width: 100%;
}

p {
  color: var(--foreground);
  background: var(--background);
}

@media (max-width: 48rem) {
  .body {
    margin-top: 10rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
